<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mr PHP Payments</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>
    <body>
    
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h1>Mr PHP Payments</h1>
                    <p class="lead bg-danger">Your payment has been declined.</p>
                    <hr>
                    <div class="pull-right small">
                        <a href="https://mrphp.com.au/">back to MrPHP.com.au</a>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>

    </body>
</html>